<h1>404</h1>
<h2>Not Found</h2>

{% if static_site_domain_name is defined %}
<p>
  Click <a href="https://{{ static_site_domain_name }}">here</a> to return to {{ static_site_domain_name }}
</p>
{% endif %}

