<style>
/* TODO: move style to css file */

#experience-container {
  margin-left: 10px;
}

#experience-header {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 8px;
}

.project {
  width: 60%;
  min-width: 60%;
  background: lavender; /* TODO: remove this */
  margin-bottom: 10px;
}

.project-time-period {
  float: right;
  font-size: small;
  padding-top: 3px;
}
</style>



<div id=experience-container>
  <div id="experience-header">Experience</div>
  {% for project in projects %}
  <div class="project">
    <div class="project-header">
      <div>
        <span>
          {{ project.employer }} {% if project.employer_location is defined %} ({{ project.employer_location }}) {% endif %}
        </span>
        <span class="project-time-period"> {{ project.time_period | upper }}</span>
      </div>
      <div>
        <span><b>{{ project.job_title }}:</b></span>
        <span>{{ project.description }}</span>
      </div>
    </div>
    <!-- TODO: remove, or add a filter feature
    {% if project.technologies|length %}
      <ul>
      {% for technology in project.technologies %}
      <li>{{ technology.name }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    -->
  </div>
  {% endfor %}

  {# project content = job_title | employer | employer_location | client | client_location | description | time_period | technologies (= list) #}



</div>
