<style>
/* TODO: move style to css file */


* {
  box-sizing: border-box;
}


.column-left {
  float: left;
  width: 30%;
  padding: 10px;
}
.column-right {
  float: left;
  width: 70%;
  padding: 10px;
}

#experience-header {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 8px;
}

.project {
  width: 60%;
  min-width: 60%;
  background: lavender; /* TODO: remove this */
  margin-bottom: 10px;
}

.project-time-period {
  float: right;
  font-size: small;
  padding-top: 3px;
}

.row:after { /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}

</style>


<div class="column-left">
  <div>TODO: first name</div>
  <div>TODO: last name</div>
  <div>TODO: job title</div>
  <div>TODO: skills</div>
  <div>TODO: languages (English/Dutch)</div>
  <div>TODO: telephone number</div>
  <div>TODO: email address</div>
  <div>TODO: linkedin</div>
  <div>TODO: (bottom) website url</div>
</div>


<div id=experience-container class="column-right">
  <div id="experience-header">Experience</div>
  {% for project in projects %}
  <div class="project">
    <div class="project-header">
      <div>
        <span>
          {{ project.employer }} {% if project.employer_location is defined %} ({{ project.employer_location }}) {% endif %}
        </span>
        <span class="project-time-period"> {{ project.time_period | upper }}</span>
      </div>
      <div>
        <span><b>{{ project.job_title }}:</b></span>
        <span>{{ project.description }}</span>
      </div>
    </div>
    <!-- TODO: remove, or add a filter feature
    {% if project.technologies|length %}
      <ul>
      {% for technology in project.technologies %}
      <li>{{ technology.name }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    -->
  </div>
  {% endfor %}

  {# project content = job_title | employer | employer_location | client | client_location | description | time_period | technologies (= list) #}



</div>
