<!-- TODO:

Make dynamic, in a way that no sensitive information about clients can be deduced.

Add stats about:
- total amount of clients
  - total amount of projects
    - applications per project

- amount of containers/apps deployed
  - using which technologies (manual, concourse, ansible, etc)
  - of which containing my code

- amount of countries:
  - in which my apps have been used (later in my career: in x continents)
  - in which I worked

- proof of concepts -> led to projects -> led to X-figure projects.

-->

<h1>Stats</h1>

